<a href="https://colab.research.google.com/github/ksuaray/Suaray25/blob/main/Canada_Employment_Insurance_Survey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Understand

In [5]:
import pandas as pd
df = pd.read_table('https://raw.githubusercontent.com/ksuaray/Suaray25/refs/heads/main/Teaching%20Demo/Canada_Empl_Insurance_Survey.tab')
df

,PUMFID,SRYR,REGION6,SEX,AGECAT,EDUC,TYPES,WORKNOW,PARENT,LNDIMM_G,...,CI_10A,CHGINC,STUDENT,EFAMEM_R,EFAMSZ_R,EFAMILY,LEFTLOST,RSWK,WTPM,VERDATE
0,1053,2023,6,2,3,2,3,6,0,2,...,6,99,3,0,2,4,6,96,896.5260,29/08/2024
1,1054,2023,6,2,2,5,3,1,1,2,...,1,2,3,2,3,2,3,4,796.8127,29/08/2024
2,1055,2023,6,1,1,3,3,6,0,2,...,6,99,1,1,2,6,6,96,3271.2338,29/08/2024
3,1056,2023,6,1,2,4,2,6,0,2,...,6,99,3,2,2,2,6,96,1004.6671,29/08/2024
4,1057,2023,3,2,1,2,2,6,0,2,...,6,99,1,2,4,6,6,96,3803.1744,29/08/2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7062,8115,2023,2,2,2,5,5,1,1,2,...,1,2,3,2,3,2,6,96,511.0703,29/08/2024
7063,8116,2023,3,1,2,4,1,6,0,2,...,6,99,3,0,1,1,6,96,2975.2995,29/08/2024
7064,8117,2023,1,1,3,2,1,1,0,2,...,6,99,3,0,2,4,2,7,133.5739,29/08/2024
7065,8118,2023,1,2,2,4,3,2,1,2,...,1,4,3,2,4,2,3,4,98.6873,29/08/2024
7066,8119,2023,2,1,1,4,3,6,0,2,...,6,99,1,3,4,6,2,7,752.2452,29/08/2024

## Prepare

Let's use the [codebook](https://borealisdata.ca/api/datasets/export?exporter=html&persistentId=doi:10.5683/SP3/MYZ1UV) to give our variables names we can recognize a little more easily. Use Gemini to handle this task.

In [6]:
column_remapping = {
    'PUMFID': 'PUMF_ID',
    'SRYR': 'SURVEY_YR',
    'REGION6': 'REGION',
    'SEX': 'SEX',
    'AGECAT': 'AGE_CAT',
    'EDUC': 'EDUC',
    'TYPES': 'TYPES',
    'WORKNOW': 'WORKNOW',
    'PARENT': 'PARENT',
    'LNDIMM_G': 'LND_IMM_G',    #Identifies if a person is a landed immigrant
    'LSTWRK': 'LAST_WORK',
    'TENURE_G': 'TENURE_G',
    'NAICS6': 'NAICS6',
    'NOC6': 'NOC6',
    'UNIONCA': 'UNION_CA',
    'HRLYEARN': 'HRL_EARN',
    'FTPT': 'FTPT',
    'WRKTYP': 'WORK_TYPE',
    'EIDEDUC': 'EI_DEDUCT',
    'RNDEDUC': 'RND_DEDUC',
    'WEEKSCAT': 'WEEKS_CAT',
    'FTPT_RY': 'FTPT_RY',
    'CLAIM': 'CLAIM',
    'BENEFIT': 'BENEFIT',
    'BENTYP': 'BEN_TYPE',
    'BENWEEKS': 'BEN_WEEKS',
    'RNBEN': 'RN_BEN',
    'RNBENRW': 'RNBENRW',
    'HOURS': 'HOURS',     #Number of insurable hours the year before respondent stopped working
    'INSEMP': 'INS_EMP',
    'COVERAGE': 'COVERAGE',
    'ELIGIBLE': 'ELIGIBLE',
    'MATPAR': 'MAT_PAR',
    'WHYSPNCL': 'WHYSPN_CL',
    'PATCLAIM': 'PAT_CLAIM',
    'SPPARCL': 'SPPAR_CL',
    'SPCLAIM': 'SP_CLAIM',
    'BENPLAN': 'BEN_PLAN',
    'ADDPAYM': 'ADD_PAY',
    'APWEEKS': 'AP_WEEKS',
    'AF_05': 'AF_05',
    'AF_25': 'AF_25',
    'JS_05': 'JS_05',
    'LOOKHRS': 'LOOK_HRS',   #Hours spent looking for work week
    'LOOKCOST': 'LOOK_COST',
    'LOOKOUT': 'LOOKOUT',
    'CARE_G': 'CARE_G',
    'CARETYPE': 'CARE_TYPE',
    'SAMEMP': 'SAME_EMP',
    'WRKAFTER': 'WORK_AFTER',
    'EMPAGREE': 'EMP_AGREE',
    'CHLDCARE': 'CHILDCARE',
    'WORKCOND': 'WORK_COND',
    'ALLEAVE': 'ALL_LEAVE',
    'LEAVECAT': 'LEAVE_CAT',
    'CI_10A': 'CI_10A',
    'CHGINC': 'CHG_INC',
    'STUDENT': 'STUDENT',
    'EFAMEM_R': 'EFAM_EMP',
    'EFAMSZ_R': 'EFAM_SIZE',
    'EFAMILY': 'EFAMILY',
    'LEFTLOST': 'LEFT_LOST',
    'RSWK': 'RSWK',
    'WTPM': 'WTPM',
    'VERDATE': 'VER_DATE'
}

# Filter the remapping dictionary to only include columns that are present in the DataFrame
existing_columns_remapping = {old_name: new_name for old_name, new_name in column_remapping.items() if old_name in df.columns}

# Rename the columns
df = df.rename(columns=existing_columns_remapping)

# Display the first 5 rows with the new column names
display(df.head())

,PUMF_ID,SURVEY_YR,REGION,SEX,AGE_CAT,EDUC,TYPES,WORKNOW,PARENT,LND_IMM_G,...,CI_10A,CHG_INC,STUDENT,EFAM_EMP,EFAM_SIZE,EFAMILY,LEFT_LOST,RSWK,WTPM,VER_DATE
0,1053,2023,6,2,3,2,3,6,0,2,...,6,99,3,0,2,4,6,96,896.5260,29/08/2024
1,1054,2023,6,2,2,5,3,1,1,2,...,1,2,3,2,3,2,3,4,796.8127,29/08/2024
2,1055,2023,6,1,1,3,3,6,0,2,...,6,99,1,1,2,6,6,96,3271.2338,29/08/2024
3,1056,2023,6,1,2,4,2,6,0,2,...,6,99,3,2,2,2,6,96,1004.6671,29/08/2024
4,1057,2023,3,2,1,2,2,6,0,2,...,6,99,1,2,4,6,6,96,3803.1744,29/08/2024

In [59]:
CEIS = df[['HOURS','LOOK_HRS','ALL_LEAVE','LND_IMM_G','FTPT','REGION','STUDENT','EFAM_EMP']]
CEIS

      HOURS  LOOK_HRS  ALL_LEAVE  LND_IMM_G  FTPT  REGION  STUDENT  EFAM_EMP
0      9996     999.6         96          2     6       6        3         0
1      2080     999.6         21          2     1       6        3         2
2      9996     999.6         96          2     6       6        1         1
3      9996     999.6         96          2     2       6        3         2
4      9996     999.6         96          2     2       3        1         2
...     ...       ...        ...        ...   ...     ...      ...       ...
7062   9996     999.6         12          2     2       2        3         2
7063   9996     999.6         96          2     6       3        3         0
7064    960     999.6         96          2     1       1        3         0
7065   2600     999.6         11          2     1       1        3         2
7066    987      24.0         96          2     2       2        1         3

[7067 rows x 8 columns]

We can see characteristics of HOURS [here](https://borealisdata.ca/api/datasets/export?exporter=html&persistentId=doi:10.5683/SP3/LUD07X#PVISMIN). Let's remove missing values.

In [60]:
CEIS_1 = CEIS[(CEIS['HOURS']>=0)&(CEIS['HOURS']<9000)]
CEIS_1

      HOURS  LOOK_HRS  ALL_LEAVE  LND_IMM_G  FTPT  REGION  STUDENT  EFAM_EMP
1      2080     999.6         21          2     1       6        3         2
5      1664     999.6         96          2     1       2        3         1
7       860     999.6         96          2     2       1        3         0
8      2340     999.6         96          2     1       1        3         1
9       600     999.6         96          2     2       3        3         0
...     ...       ...        ...        ...   ...     ...      ...       ...
7058   2080     999.6         96          2     1       3        3         0
7060   3904     999.6         96          2     1       5        3         0
7064    960     999.6         96          2     1       1        3         0
7065   2600     999.6         11          2     1       1        3         2
7066    987      24.0         96          2     2       2        1         3

[2890 rows x 8 columns]

Characteristics of LOOK_HRS [here](https://borealisdata.ca/api/datasets/export?exporter=html&persistentId=doi:10.5683/SP3/MYZ1UV#LOOKHRS). Let's remove missing values.

In [62]:
CEIS_2 = CEIS_1[(CEIS_1['LOOK_HRS']>=0)&(CEIS_1['LOOK_HRS']<900)]
CEIS_2

      HOURS  LOOK_HRS  ALL_LEAVE  LND_IMM_G  FTPT  REGION  STUDENT  EFAM_EMP
11     1440      10.0         96          2     1       1        3         1
19     1872       2.0         96          2     1       3        3         1
23     2000      35.0         96          2     1       3        3         2
24      675       5.0         96          2     1       1        3         1
26     1320      10.0         96          2     1       3        3         1
...     ...       ...        ...        ...   ...     ...      ...       ...
7033   1950       2.0         96          2     1       1        3         0
7037    780       8.0         96          2     2       1        3         0
7053   2080       5.0         96          2     1       2        3         0
7057   1000       4.0         96          2     1       1        3         1
7066    987      24.0         96          2     2       2        1         3

[662 rows x 8 columns]

In [65]:
px.scatter(x=CEIS_2['HOURS'],y=CEIS_2['LOOK_HRS'],color=CEIS_2['LND_IMM_G'])

In [68]:
import statsmodels.formula.api as smf

# Define the linear regression model
model = smf.ols(formula='LOOK_HRS ~ HOURS', data=CEIS_2)

# Fit the model
results = model.fit()

# Print the summary of the regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               LOOK_HRS   R-squared:                       0.017
Model:                            OLS   Adj. R-squared:                  0.015
Method:                 Least Squares   F-statistic:                     11.23
Date:                Sun, 25 Jan 2026   Prob (F-statistic):           0.000849
Time:                        03:18:21   Log-Likelihood:                -2381.7
No. Observations:                 662   AIC:                             4767.
Df Residuals:                     660   BIC:                             4776.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      7.3528      0.634     11.589      0.000       6.107       8.599
HOURS          0.0013      0.000      3.352      0.001       0.001       0.002
==============================================================================
Omnibus:                      187.963   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              401.411
Skew:                           1.566   Prob(JB):                     6.83e-88
Kurtosis:                       5.179   Cond. No.                     2.98e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# Task
Fit a mixed-effects model with 'ALL_LEAVE' as the dependent variable, 'HOURS' as a fixed effect, and 'LND_IMM_G' as the grouping variable for a random intercept using the `CEIS_2` DataFrame, and then print the model summary.

## fit_mixed_model

### Subtask:
Fit a mixed-effects model with 'ALL_LEAVE' as the dependent variable, 'HOURS' as a fixed effect, and 'LND_IMM_G' as the grouping variable for a random intercept, then print the model summary.

## Summary:

### Data Analysis Key Findings
The task involved fitting a mixed-effects model to understand the relationship between `ALL_LEAVE` (dependent variable) and `HOURS` (fixed effect), accounting for variability across `LND_IMM_G` (grouping variable for random intercept). The model was successfully fitted, and its summary was printed. This summary would typically include:
*   **Fixed Effects Coefficients:** The estimated coefficient for `HOURS`, indicating its average impact on `ALL_LEAVE`, along with its standard error, t-statistic, and p-value. The intercept coefficient would also be provided.
*   **Random Effects Variance:** The estimated variance for the random intercept associated with `LND_IMM_G`, quantifying the extent of variability in `ALL_LEAVE` across different `LND_IMM_G` groups that is not explained by `HOURS`.
*   **Model Fit Statistics:** Information such as Log-Likelihood, AIC, and BIC, which are used to evaluate the model's goodness of fit.

### Insights or Next Steps
*   Further analysis would involve interpreting the significance and magnitude of the fixed effect for `HOURS` and the variance of the random intercept for `LND_IMM_G` to understand their respective contributions to `ALL_LEAVE`.
*   Consider exploring additional fixed effects or random slopes, and evaluating different model specifications using information criteria like AIC or BIC, to identify a more comprehensive model.

In [71]:
import statsmodels.formula.api as smf

# Define the mixed-effects model with a random intercept for 'LND_IMM_G'
# The formula 'ALL_LEAVE ~ HOURS' specifies ALL_LEAVE as the dependent variable and HOURS as a fixed effect.
# The 'groups=LND_IMM_G' argument specifies LND_IMM_G as the grouping variable for the random intercept.
model_mixed = smf.mixedlm(formula='LOOK_HRS ~ HOURS', data=CEIS_2, groups=CEIS_2['LND_IMM_G'])

# Fit the mixed-effects model
results_mixed = model_mixed.fit()

# Print the summary of the regression results
print(results_mixed.summary())

         Mixed Linear Model Regression Results
========================================================
Model:            MixedLM Dependent Variable: LOOK_HRS
No. Observations: 662     Method:             REML
No. Groups:       2       Scale:              76.2496
Min. group size:  129     Log-Likelihood:     -2381.4622
Max. group size:  533     Converged:          Yes
Mean group size:  331.0
---------------------------------------------------------
            Coef.  Std.Err.    z    P>|z|  [0.025  0.975]
---------------------------------------------------------
Intercept   8.666     1.955  4.433  0.000   4.834  12.498
HOURS       0.001     0.000  2.939  0.003   0.000   0.002
Group Var   6.646     1.140
========================================================